.search {
  display: flex;
  flex-direction: row;
}

.search {
  margin-top: 80px;
}

.searchInputs {
  margin-top: 24px;
  display: flex;
}

.search input {
  background-color: #3fde82;
  border: 0;
  border-radius: 100px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 230px;
}

.SelectCity {
  margin-top: 16px;
  margin-left: -5px;
  width: 120px;
  height: 50px;
  background-color: #3fde82;
  display: grid;
  place-items: center;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

input:focus {
  outline: none;
}

.dataResult {
  margin-top: 5px;
  width: 400px;
  height: 200px;
  border-radius: 15px;
  background-color: #3fde82;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}
.dataItem:hover {
  background-color: #7cdfa5;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .search {
    display: flex;
    flex-direction: row;
  }

  .search {
    margin-top: 80px;
  }

  .searchInputs {
    margin-top: 24px;
    display: flex;
  }

  .search input {
    background-color: #3fde82;
    border: 0;
    border-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 150px;
  }

  .SelectCity {
    margin-top: 16px;
    margin-left: -5px;
    width: 100px;
    height: 50px;
    background-color: #3fde82;
    display: grid;
    place-items: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  .dataResult {
    margin-top: 5px;
    width: 280px;
    height: 200px;
    border-radius: 15px;
    background-color: #3fde82;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
}

.dropdown {
  display: inline-block;
}
